<!doctype html>
<html>
<head>
  <link type="text/css" href="popup.css" rel="stylesheet">
  <script type="text/javascript" src="tmpl.min.js"></script>
  <script type="text/javascript" src="jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="popup.js"></script>

</head>
<body>
  <div class="container">
    <div class='header'>
      <select id="js-lesson" class="pure-input-1-2 js-select">
      </select>
      <select id="js-type" class="pure-input-1-2 js-select">
        <option value='word'>Word</option>
        <option value='shadow'>Shadow</option>
        <option value='kanji'>Kanji</option>
        <option value='grammar'>Grammar</option>
      </select>
      <select id="js-display" class="pure-input-1-2 js-select">
        <option value='all'>All</option>
        <option value='hiragana'>Hiragana</option>
        <option value='mean'>Mean</option>
      </select>
      <div>
        <input id='wordSearch' type='text' />
      </div>
    </div>
    <div class="content">
      <ul id="js-w">

      </ul>
    </div>
  </div>
</body>
<script type="text/x-tmpl" id="js-words">
  <li>
    <div class='co js-in'>
      <ruby>
        <rb class='text-style c-hiragana'>
          {%= o.lesson_id.match(/\d+/g).join('') %}.{%= ++o.index%} {%= o.hiragana %}
        </rb>
        <rp>/</rp>
        <rt>{%= o.kanji %}</rt>
      </ruby>
      <span class='c-mean'>{%= o.mean %}</span>
      <div class='span'><i class='counter'>{%= o.counter %}</i><i>.{%= o.id %}</i> .{%= o.cn_mean %}</div>
      <input class='js-inp input-type' data-index='{%= o.index %}' data-correct='{%= o.correct.replace(/\[/, '').replace(/]/, '').replace(/～/, '').trim() %}' data-romaji='{%= o.roumaji.replace(/\[/, '').replace(/]/, '').replace(/～/, '').trim() %}' type='text'/>
    </div>
  </li>
</script>
<script type="text/x-tmpl" id="js-shadow">
  <li>
    <a href="javascript:void(0)" class='co js-in'>
      <ruby>
        <rb class='shadow'>
           {%= o.answer %}-{%= o.answer_romaji %}
        </rb>
        <rp>/</rp>
        <rt>{%= o.index %}.{%= o.question %} - {%= o.question_romaji %}</rt>
      </ruby>

    </a>
  </li>
</script>
<script type="text/x-tmpl" id="js-kanji">
  <li>
    <div class='js-in co'>
      <ruby>
        <rb class='text-style'>
           {%= o.jp_mean %}
        </rb>
        <rp>/</rp>
        <rt class='kanji'>{%= o.kanji %}</rt>
      </ruby>
      <span>{%= o.id %}.{%= o.vn_mean %}</span>
      <div class='span hanviet'>{%= o.hanviet %}</div>
    </div>
  </li>
</script>

<script type="text/x-tmpl" id="js-grammars">
  <li>
    <div class='js-in grammars co'>
      <div class='text-style'>{%= o.title %}</div>
      {% for (var i=0; i<o.uses.length; i++) { %}
          <span class='blue'>{%=o.uses[i]%}</span>
      {% } %}
      <span class=''> * {%= o.tag %}</span>
      <span class=''> - {%= o.mean %}</span>
      <span class=''> - {%= o.note %}</span>

      {% for (var i=0; i<o.examples.length; i++) { %}
        <span class=''>{%= o.examples[i] %}</span>
      {% } %}
      <div class='span'>{%= o.level %}.{%= o.id %}</div>
    </div>
  </li>
</script>

</html>
